In [ ]:
DROP DATABASE IF EXISTS vinos_españa;
CREATE DATABASE vinos_españa;
USE vinos_españa;

CREATE TABLE vinos (
    vinos_id INTEGER NOT NULL PRIMARY KEY AUTO_INCREMENT,
    winery VARCHAR(30) NOT NULL,
    wine VARCHAR(50) NOT NULL,
    year integer NOT NULL,
    rating float NOT NULL,
    num_reviews integer NOT NULL,
    country varchar(50) NOT NULL,
    region varchar(50) NOT NULL,
    price integer NOT NULL,
    type varchar(50)
    body float NOT NULL,
    acidity float NOT NULL
    
);